option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application

    ##no aws console acc so i didnt create elasticbeanstalk codepipline from  github repository to elasticbeanstalk (no continous delivery pipline created)
    ##so deploymented not done compeletly and no codepipeline.
    